<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        {% include "header" %}
        {% include "test.css" %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta property="og:title" content="Home Sweet Home" />
        <meta property="og:image" content="/static/kierkegaard.png" />
    </head>
    <body>
    <h1>
    Home Sweet Home
    </h1>
    <h2>
    <a href="/explore">
    Explore static files
    </a>
    </h2>
    <img class="kierk" src="/static/kierkegaard.png">
    </body>
</html>
